<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum blanditiis ex perspiciatis? Explicabo vitae assumenda, excepturi eos dolorem quis ab culpa obcaecati, temporibus molestiae alias, libero harum nostrum unde cupiditate!</p>
    </div>
</div>